<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>

        <a [routerLink]="['/library']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-text-o"></i>&nbsp;{{ 'Pattern Library' | translate }}
        </a>

        <a [routerLink]="['/cheatsheet']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Cheat Sheets' | translate }}
        </a>

        <a [routerLink]="['/vocabulary']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-quote-left"></i>&nbsp;{{ 'Vocabulary' | translate }}
        </a>

        <a [routerLink]="['/stitch-ref']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-youtube-play"></i>&nbsp;{{ 'Stitch Reference' | translate }}
        </a>

        <a [routerLink]="['/web-resources']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-university"></i>&nbsp;{{ 'Web Resources' | translate }}
        </a>

        




    </div>
</nav>
