.btn-toolbar {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 0.25rem;
}

.page-header {
    margin-top: 10px;
}

.input-group-addon {
    background-color: #007bff;
    color: white;

}

.card-img-top {
    border-radius: 0.25rem;
}

.card-block {
    background-color: #868e96;
    padding: 5px;
}

.card {
    padding: 5px;
    background-color: #868e96;

}
